In [5]:
# Import Packages

# Array and Dataframe processing:
import pandas as pd
import numpy as np

# Visualization:
import seaborn as sns
sns.set_style("darkgrid")
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.graph_objects as go
import plotly.express as px
import plotly.figure_factory as ff

import pandas as pd
import mysql.connector

In [2]:
# # Model Implementation 
# from sklearn.ensemble import RandomForestClassifier
# from sklearn import svm
# from sklearn.svm import SVC
# from sklearn.neural_network import MLPClassifier
# # from sklearn.linear_model import SGDCClassifier

# #  Metrics 
# from sklearn.metrics import confusion_matrix, classification_report
# from sklearn.metrics import accuracy_score

# # For scaling and preprocessing:  StandardScaler, MinMaxScaler and MaxAbsScaler.
# from sklearn import preprocessing
# from sklearn.preprocessing import StandardScaler, LabelEncoder

# # For Model Training and Testing:
# from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('../Data/HR_Data.csv')
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,PayRate,...,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30
0,"Brown, Mia",1.103024e+09,1.0,1.0,0.0,1.0,1.0,3.0,1.0,28.50,...,Admin Offices,Brandon R. LeBlanc,1.0,Diversity Job Fair,Fully Meets,2.04,2.0,6.0,1/15/2019,0.0
1,"LaRotonda, William",1.106027e+09,0.0,2.0,1.0,1.0,1.0,3.0,0.0,23.00,...,Admin Offices,Brandon R. LeBlanc,1.0,Website Banner Ads,Fully Meets,5.00,4.0,4.0,1/17/2019,0.0
2,"Steans, Tyrone",1.302053e+09,0.0,0.0,1.0,1.0,1.0,3.0,0.0,29.00,...,Admin Offices,Brandon R. LeBlanc,1.0,Internet Search,Fully Meets,3.90,5.0,5.0,1/18/2019,0.0
3,"Howard, Estelle",1.211051e+09,1.0,1.0,0.0,1.0,1.0,3.0,0.0,21.50,...,Admin Offices,Brandon R. LeBlanc,1.0,Pay Per Click - Google,Fully Meets,3.24,3.0,4.0,NaN,NaN
4,"Singh, Nan",1.307060e+09,0.0,0.0,0.0,1.0,1.0,3.0,0.0,16.56,...,Admin Offices,Brandon R. LeBlanc,1.0,Website Banner Ads,Fully Meets,5.00,3.0,5.0,1/15/2019,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dic = pd.read_excel('../Data/data_dictionary.xlsx')
dic

,Feature,Description,DataType
0,Employee Name,Employee’s full name,Text
1,EmpID,Employee ID is unique to each employee,Text
2,MarriedID,Is the person married (1 or 0 for yes or no),Binary
3,MaritalStatusID,Marital status code that matches the text fiel...,Integer
4,EmpStatusID,Employment status code that matches text field...,Integer
5,DeptID,Department ID code that matches the department...,Integer
6,PerfScoreID,Performance Score code that matches the employ...,Integer
7,FromDiversityJobFairID,Was the employee sourced from the Diversity jo...,Binary
8,PayRate,The person’s hourly pay rate. All salaries are...,Float
9,Termd,Has this employee been terminated - 1 or 0,Binary
10,PositionID,An integer indicating the person’s position,Integer
11,Position,The text name/title of the position the person...,Text
12,State,The state that the person lives in,Text
13,Zip,The zip code for the employee,Text
14,DOB,Date of Birth for the employee,Date
15,Sex,Sex - M or F,Text
16,MaritalDesc,"The marital status of the person (divorced, si...",Text
17,CitizenDesc,Label for whether the person is a Citizen or E...,Text
18,HispanicLatino,Yes or No field for whether the employee is Hi...,Text
19,RaceDesc,Description/text of the race the person identi...,Text
20,DateofHire,Date the person was hired,Date
21,DateofTermination,"Date the person was terminated, only populated...",Date
22,TermReason,A text reason / description for why the person...,Text
23,EmploymentStatus,A description/category of the person’s employm...,Text
24,Department,Name of the department that the person works in,Text
25,ManagerName,The name of the person’s immediate manager,Text
26,ManagerID,A unique identifier for each manager.,Integer
27,RecruitmentSource,The name of the recruitment source where the e...,Text
28,PerformanceScore,"Performance Score text/category (Fully Meets, ...",Text
29,EngagementSurvey,"Results from the last engagement survey, manag...",Float
30,EmpSatisfaction,"A basic satisfaction score between 1 and 5, as...",Integer
31,SpecialProjectsCount,The number of special projects that the employ...,Integer
32,LastPerformanceReviewDate,The most recent date of the person’s last perf...,Date
33,DaysLateLast30,The number of times that the employee was late...,Integer

In [14]:
import sql_config
config = sql_config
print(cnx)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fd4f2ef5350>

In [ ]:
# CREATE TABLE `schema_employee_attrition`.`new_table` (
#   `id` INT NOT NULL,
#   `one` VARCHAR(45) NOT NULL,
#   `two` INT NOT NULL,
#   PRIMARY KEY (`id`),
#   UNIQUE INDEX `id_UNIQUE` (`id` ASC));

In [16]:
def execute_sql(action):
    cnx = mysql.connector.connect(host = config.host, user = config.user, password = config.password)
    print(cnx)
    cursor = cnx.cursor(buffered = True)
    cursor.execute(query)
    df = pd.DataFrame(cursor.fetchall())
    cursor.description
    df.columns = [x[0] for x in cursor.description]
    return df.head()

In [ ]:
action = ("""create table hr_analytics.employee_data(
EmpID int not null,
Employee Name varchar not null,
MarriedID int not null,
MaritalStatusID int not null,
EmpStatusID int not null,
DeptID int not null,
PerfScoreID int not null,
FromDiversityJobFairID int not null,
PayRate float not null,
Termd
PositionID
Position
State
Zip
DOB
Sex
MaritalDesc
CitizenDesc
HispanicLatino
RaceDesc
DateofHire
DateofTermination
TermReason
EmploymentStatus
Department
ManagerName
ManagerID
RecruitmentSource
PerformanceScore
EngagementSurvey
EmpSatisfaction
SpecialProjectsCount
LastPerformanceReviewDate
DaysLateLast30)


""")