In [1]:
# Import Packages

# Array and Dataframe processing:
import pandas as pd
import numpy as np
from pandas import read_html
# Visualization:
import seaborn as sns
sns.set_style("darkgrid")
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.graph_objects as go
import plotly.express as px
import plotly.figure_factory as ff

import pandas as pd

In [10]:
df = pd.read_csv("../Data/HR_Data.csv")
print(f"Shape: {df.shape}")
df.head()

Shape: (310, 35)

,EmpID,Employee_Name,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,PayRate,...,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30
0,1103024456,"Brown, Mia",1,1,0,1,1,3,1,28.50,...,Admin Offices,Brandon R. LeBlanc,1.0,Diversity Job Fair,Fully Meets,2.04,2,6,1/15/19,0.0
1,1106026572,"LaRotonda, William",0,2,1,1,1,3,0,23.00,...,Admin Offices,Brandon R. LeBlanc,1.0,Website Banner Ads,Fully Meets,5.00,4,4,1/17/19,0.0
2,1302053333,"Steans, Tyrone",0,0,1,1,1,3,0,29.00,...,Admin Offices,Brandon R. LeBlanc,1.0,Internet Search,Fully Meets,3.90,5,5,1/18/19,0.0
3,1211050782,"Howard, Estelle",1,1,0,1,1,3,0,21.50,...,Admin Offices,Brandon R. LeBlanc,1.0,Pay Per Click - Google,Fully Meets,3.24,3,4,NaN,NaN
4,1307059817,"Singh, Nan",0,0,0,1,1,3,0,16.56,...,Admin Offices,Brandon R. LeBlanc,1.0,Website Banner Ads,Fully Meets,5.00,3,5,1/15/19,0.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EmpID                       310 non-null    int64
 1   Employee_Name               310 non-null    object
 2   MarriedID                   310 non-null    int64
 3   MaritalStatusID             310 non-null    int64
 4   GenderID                    310 non-null    int64
 5   EmpStatusID                 310 non-null    int64
 6   DeptID                      310 non-null    int64
 7   PerfScoreID                 310 non-null    int64
 8   FromDiversityJobFairID      310 non-null    int64
 9   PayRate                     310 non-null    float64
 10  Termd                       310 non-null    int64
 11  PositionID                  310 non-null    int64
 12  Position                    310 non-null    object
 13  State                       310 non-null    object
 14  Zip                         310 non-null    int64
 15  DOB                         310 non-null    object
 16  Sex                         310 non-null    object
 17  MaritalDesc                 310 non-null    object
 18  CitizenDesc                 310 non-null    object
 19  HispanicLatino              310 non-null    object
 20  RaceDesc                    310 non-null    object
 21  DateofHire                  310 non-null    object
 22  DateofTermination           103 non-null    object
 23  TermReason                  309 non-null    object
 24  EmploymentStatus            310 non-null    object
 25  Department                  310 non-null    object
 26  ManagerName                 310 non-null    object
 27  ManagerID                   302 non-null    float64
 28  RecruitmentSource           310 non-null    object
 29  PerformanceScore            310 non-null    object
 30  EngagementSurvey            310 non-null    float64
 31  EmpSatisfaction             310 non-null    int64
 32  SpecialProjectsCount        310 non-null    int64
 33  LastPerformanceReview_Date  207 non-null    object
 34  DaysLateLast30              207 non-null    float64
dtypes: float64(4), int64(13), object(18)
memory usage: 84.9+ KB

In [13]:
df.isna().sum()

EmpID                           0
Employee_Name                   0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
PayRate                         0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      1
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date    103
DaysLateLast30                103
dtype: int64